<%- include('partials/header') %>
    <h1>Movie Search Application</h1>

    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Name">
        <button type="submit">Search</button>
    </form>

    <ul>
        <% movies.forEach(function(movie) { %>
            <li><%= movie.Title %></li>
        <% }) %>
    </ul>
    

<%- include('partials/footer') %>
